<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>com.feedback.servlet.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.feedback.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationDataServlet</servlet-name>
        <servlet-class>com.feedback.servlet.ModificationDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationServlet</servlet-name>
        <servlet-class>com.feedback.servlet.ModificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackFormServlet</servlet-name>
        <servlet-class>com.feedback.servlet.FeedbackFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFeedbackFormServlet</servlet-name>
        <servlet-class>com.feedback.servlet.GetFeedbackFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDataServlet</servlet-name>
        <servlet-class>com.feedback.servlet.FeedbackDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackFilterServlet</servlet-name>
        <servlet-class>com.feedback.servlet.FeedbackFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRecordServlet</servlet-name>
        <servlet-class>com.feedback.servlet.StudentRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAttendanceServlet</servlet-name>
        <servlet-class>com.feedback.servlet.StudentAttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationDataServlet</servlet-name>
        <url-pattern>/ModificationDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationServlet</servlet-name>
        <url-pattern>/ModificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackFormServlet</servlet-name>
        <url-pattern>/FeedbackFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFeedbackFormServlet</servlet-name>
        <url-pattern>/GetFeedbackFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDataServlet</servlet-name>
        <url-pattern>/FeedbackDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackFilterServlet</servlet-name>
        <url-pattern>/FeedbackFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRecordServlet</servlet-name>
        <url-pattern>/StudentRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAttendanceServlet</servlet-name>
        <url-pattern>/StudentAttendanceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
